$font-family: 'Avenir', Helvetica, Arial, sans-serif;

$black: #000;
$white: #fafafa;
$gray: #ccc;

$cell: #ddd;
$dark-cell: tomato;

$partition: skyblue;

@mixin fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
