$font-family: 'Avenir', Helvetica, Arial, sans-serif;

$black: #000;
$white: #fafafa;
$gray: #ccc;

$cell: #ddd;
$dark-cell: tomato;

$partition: skyblue;
$dark-partition: darken($partition, 20%);
$alt: darken($partition, 20%);
$dark-alt: darken($alt, 20%);

$danger: tomato;
$dark-danger: darken($danger, 20%);

$safe: lighten(seagreen, 10%);
$dark-safe: darken($safe, 10%);

$edit-info-width: 100px;

@mixin fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin input-styling {
    background-color: transparent;
    border: none;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-family;

    &:hover,
    &:focus {
        background-color: rgba($black, 0.2);
    }
}
